<h1>Editing coverage report</h1>

<%= render "form", coverage_report: @coverage_report %>

<br>

<div>
  <%= link_to "Show this coverage report", @coverage_report %> |
  <%= link_to "Back to coverage reports", coverage_reports_path %>
</div>
